<div class="card">
    <div class="card-header">
        <p>{{blog_title}}</p>
        <p>Posted By: {{user.username}}
            On: {{format_date date_created}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{blog_content}}</p>
    </div>

</div>